/* styles.scss */
@import "ngx-toastr/toastr";

/* Optional custom login styles */
.login-wrapper {
  height: 100vh;
  background: #00457c;
}
.login-box {
  background: #1a1a1a;
  border-radius: 8px;
  width: 350px;
}
.btn-login {
  background: #ffcc00;
  border: none;
  color: #000;
  font-weight: bold;
}


:root {
  --gold-primary: #d4af37;
  --gold-dark: #b8860b;
  --gold-bg: #faf4e0;
  --text-dark: #4b3b0a;
}

body {
  background-color: var(--gold-bg);
  color: var(--text-dark);
  font-family: "Montserrat", sans-serif;
}

// .btn-gold {
//   background-color: var(--gold-primary);
//   color: #fff;
//   border: none;
//   transition: all 0.3s;

//   &:hover {
//     background-color: var(--gold-dark);
//   }
// }

.btn-gold {
  background: linear-gradient(90deg, #d4af37, #b8860b);
  color: #111;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-gold:hover {
  background: linear-gradient(90deg, #b8860b, #d4af37);
  color: #fff;
}
/* Marquee container */
.marquee {
  width: 100%;
  overflow: hidden;
 
}

/* Track animation */
.marquee-track {
 
  animation: marqueeAnimation 18s linear infinite;
}

/* Keyframes MUST be global */
@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
